<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>693159993831-1mma15l2eb0l4ngujcmek0r3l9cn9fq9.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.693159993831-1mma15l2eb0l4ngujcmek0r3l9cn9fq9</string>
		<key>API_KEY</key>
		<string>AIzaSyApFFYlz_vCN7rk5_4haOafYL39RuVvUhU</string>
		<key>GCM_SENDER_ID</key>
		<string>693159993831</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.example.mohamedChat</string>
		<key>PROJECT_ID</key>
		<string>mohamedchat-e5973</string>
		<key>STORAGE_BUCKET</key>
		<string>mohamedchat-e5973.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:693159993831:ios:48f6cf18309b254b429d42</string>
	</dict>
</plist>